* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    line-height: 1.8;
}
.nav-container{
    width: 100%;
    color: blue;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 3;
}
nav{
    height: 10vh;
    min-height: 70px;
    display: flex;
    justify-content: space-around;
}
.logo{
    display: flex;
    text-align: left;
    align-items: center;
    font-size:calc(1.25em + 0.35vw);
}
.logo a{
    color: black;
    text-decoration: none;
}
.nav-icon{
    color: black;
}
.menu{
    display: flex;
    float: right;
    line-height: 10vh;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    font-size:calc(1em + 0.35vw);
}
.menu a{
    color: black;
    text-decoration: none;
    padding: 0 35px;
    transition: 0.4s;
}
.show-menu-btn,.hide-menu-btn{
    transition: 0.4s;
    font-size:calc(1.25em + 0.45vw);
    cursor: pointer;
    display: none;
}
.show-menu-btn{
    float: right;
}
.show-menu-btn i{
    line-height: 10vh;
}
.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover{
    color: #468c9f;
}

#chk{
    position: absolute;
    visibility: hidden;
    z-index: -1111;
}

.content{
    padding: 0 20px;
}
.content img{
    width: 100%;
    max-width: 700px;
    margin: 20px 0;
}
.content p{
    text-align: justify;
}

@media screen and (max-width:1100px) {
    .show-menu-btn,.hide-menu-btn{
        display: block;
    }
    .show-menu-btn,.hide-menu-btn, .logo{
        font-size: 30px;
    }
    .menu{
        display: none;
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #ffffff;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 80px 0;
        line-height: normal;
        transition: 0.7s;
    }
    .menu a{
        display: block;
        padding: 20px;
    }
    .hide-menu-btn{
        position: absolute;
        top: 40px;
        right: 40px;
    }
    #chk:checked ~ .menu{
        display: block;
        right: 0;
    }
}

@media screen and (max-width: 300px){
    .logo{
        height: 50px;
    }
}




.presentation{
    display: flex;
    width: 80%;
    min-height: 90vh;
    height: auto;
    align-items: center;
    margin: auto;
}
#coc{
    display: flex;
    width: 60%;
    min-height: 90vh;
    height: auto;
    align-items: center;
    margin: auto;
}
#coc h1{
    font-weight: 400;
    font-size: 64;
}
.cover{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cover img{
    margin: auto 30px;
    height: 60vh;
    animation: dropdown 1.5s ease-in forwards;
}
.introduction{
    flex: 1;
    opacity: 0;
    animation: fadein 1.5s ease-in forwards;

}
.intro-text h1{
    font-size: 64px;
    font-weight: 500;
}
.intro-text p{
    font-size: 20px;
    margin-top: 5px;
    width: 70%;
}
.cta{
    padding: 20px 0px 50px 0px;
}
.cta button{
    border: solid 3px #468c9f ;
    background-color: white;
    font-size: 15px;
    margin:5px;
    padding: 10px 20px;
}
@keyframes dropdown{
    0% {
	    opacity: 0;
	    transform: translateY(-80px);
    }
    100% {
	    opacity: 1;
	    transform: translateY(0px);
    }
}
@keyframes fadein{
    0% {
	    opacity: 0;
	    transform: translateX(80px);
    }
    100% {
	    opacity: 1;
	    transform: translateX(0px);
    }
}
.container{
    display: flex;
    margi
}
.expectations{
    display: flex;
    flex-direction: column;
    margin: 10vh auto;
    width: 60%;
}
.heading{
    margin: 3vh auto;
}
.reg_form{
    display: flex;
    height: 100vh;
}
#about{
    display: flex;
    width: 80%;
    min-height: 90vh;
    height: auto;
    align-items: center;
    margin: auto;
    flex-direction: column;
}
.about-section{
    display: flex;
    justify-content: space-around;
    margin: auto;
    align-items: center;
}

.about-cover{
    flex: 1;
}
.about-text{
    flex: 1;
}
.medium-heading{
    font-size: 30px;
    font-weight: 500;
}
.para{
    font-size: 20px;
    margin-top: 5px;
}
.about-cover img{
    min-width: 400px;
    margin: auto;
    min-height: 30vh
}
.tasks-section{
    margin-top: 10vh;
}
.task-text{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.task-tech{
    display: flex;
    margin: 10vh auto;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.task-block{
    display: flex;
    flex-direction: column;
    margin: auto auto;
    flex: 1;
    min-width: 300px;
    align-items: center;
    justify-content: center;
}
.block{
    width: auto;
    border: solid 3px #468c9f;
    padding: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
}
.block ul{
    list-style: none;
    text-align: center;
    width: 80%;
}
.task-cover{
    display: flex;
    justify-content: center;
}

#contact{
    background-color: #55AEE1;
    padding: 5vh 0;
}
.icon-row{
    display: flex;
    width: 50%;
    margin: 5vh auto;
    justify-content: space-around;
}
.icon-row a svg{
    text-decoration: none;
    color: white;
    height: 50px;
}
.contact-icon{
}
.contact-icons{
    list-style: none;
    display: flex;
    margin: auto;
}
svg{
    width: 100%;
}
img{
    width: 100%;
}
#coc p{
    padding-left: 10px;
}
#coc h1{
    font-weight: 400;
    font-size: 35px;
    text-align: center;
}
.medium-heading {
    fonts-weight: 400;
    font-size: 25px;
}
#coc ul{
    padding-left: 40px;
}
@media screen and (max-width: 1000px){
    .presentation{
        flex-direction: column-reverse;
        height: auto;
    }
    .intro-text p{
        width: auto;
    }
    .cover{
        width: 90%;
    }
    .cover img{
        width: 100%;
        height: auto;
    }
    .about-section{
        flex-direction: column;
    }
    .task-tech{
        flex-direction: column;
    }
    .about-cover img{
        min-width: auto;
        width: 90%;
    }
.icon-row{
    width: 80%;
}
.expectations{
    display: flex;
    flex-direction: column;
    margin: 0vh auto 10vh auto;
    width: 80%;
}
.reg_form{
    display: flex;
    height: 100vh;
}
}
