<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
  <body>
    {{ if .IsHome }}

    <div style="background-color:#fbe7e3;color:#7e3328;padding:5px 35px 5px 35px;border-left: solid 7px #f3bbb1;text-align: center;">
        <p>Dear Learner, If you have applied for this camp you will receive a reply mail within 5 days of application, please check your Spam folder too in case it doesn't land in your Inbox. If you use Gmail, it might categorize mailing list emails under the 'Promotions' tab.  You will need to set a filter for "<i>mm.gnu.org.in</i>" to ensure it ends up in your Primary inbox. If you don't get one please mail to <i>camp@mm.gnu.org.in</i></p>    
    </div>
{{ end }}
        {{- partial "nav.html" . -}}
        <main>
        {{- block "main" . }}{{- end }}
        </main>
        {{- partial "footer.html" . -}}
    </body>
</html>
