<div class="nav-container">
    <nav>
        <div class="logo">
            <a href="{{.Site.BaseURL}}">Free Software
                <span style="color:#469198"> Camp</span></a>
        </div>
        <input type="checkbox" id="chk">
        <label for="chk" class="show-menu-btn" style="align-items:center;">
            <i class="nav-icon fas fa-bars"></i>
        </label>
        <ul class="menu">
            <li><a href="{{.Site.BaseURL}}#about">About</a></li>
            <li><a href="{{.Site.BaseURL}}/code-of-conduct">Code of Conduct</a></li>
            <li><a href="{{.Site.BaseURL}}/sched">Schedule</a></li>
            <li><a href="{{.Site.BaseURL}}#contact">Contact</a></li>

            <div class="dropdown cta">
                <button onclick="myFunctionnav()" class="dropbtn">Apply</button>
                <div id="myDropdownnav" class="dropdown-content"style="padding: 5px;">
                    <button style="padding: 0px;"><a href='{{.Site.BaseURL}}/learners'>As Learner</a></button>
                    <button style="padding: 0px;"><a href='{{.Site.BaseURL}}/mentors'>As Mentor</a></button>
                </div>
            </div>
            <label for="chk" class="hide-menu-btn"><i class="nav-icon fas fa-times"></i></label>
        </ul>

        <script>
         function myFunction() {
             document.getElementById("myDropdown").classList.toggle("show");
         }
         function myFunctionnav() {
             document.getElementById("myDropdownnav").classList.toggle("show");
         }
         window.onclick = function(event) {
             if (!event.target.matches('.dropbtn')) {
                 var dropdowns = document.getElementsByClassName("dropdown-content");
                 var i;
                 for (i = 0; i < dropdowns.length; i++) {
                     var openDropdown = dropdowns[i];
                     if (openDropdown.classList.contains('show')) {
                         openDropdown.classList.remove('show');
                     }
                 }
             }
         }
        </script>
    </nav>
</div>
